<h2>ようこそ!<%=current_user.family_name + current_user.first_name %>さん<h2>
<h3>勤怠管理メニュー</h3>
<div class="menu">
  <div class="attendance">
    <%= link_to '今月の勤怠一覧','#'%>
  </div>
  <div class="input-attendance">
    <%= link_to '勤怠入力','#' %>
  </div>
</div>

